# Godot-specific
.import/
.export/
.godot/
mono/
data_*/
export_*/
bin/
.cache/

# System files
.DS_Store
Thumbs.db

# VSCode / Editor
.vscode/
.idea/
*.swp

# Logs and temporary files
*.log
*.tmp

# Backup files
*~

setup/Godot_v4.5-stable_export_templates.tpz
